@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

*:where(
  :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Orbitron", sans-serif;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
  counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background:
    linear-gradient(to bottom, #fff 0%, #fff 40%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(to right, #0ed2da, #5f29c7);
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 50px 100%;
  pointer-events: none;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.lights {
  position: absolute;
  top: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 42rem;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-out;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 1rem 1rem 1rem rgba(37, 35, 35, 0.31);
}

.top {
  height: 10rem;
  overflow: hidden;
}

.matrix-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
}

.matrix-pattern {
  position: relative;
  width: 1000px;
  height: 100%;
  flex-shrink: 0;
}

.matrix-column {
  position: absolute;
  top: -100%;
  width: 20px;
  height: 100%;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  animation: fall linear infinite;
  white-space: nowrap;
}

.matrix-column::before {
  content: "アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲンABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    #b94fff 0%,
    #ff4545 20%,
    #fcb045 40%,
    #fced45 60%,
    #45fc5a 80%,
    #45cefc 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  writing-mode: vertical-lr;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.matrix-column:nth-child(1) {
  left: 0px;
  animation-delay: -2.5s;
  animation-duration: 3s;
}

.matrix-column:nth-child(2) {
  left: 25px;
  animation-delay: -3.2s;
  animation-duration: 4s;
}

.matrix-column:nth-child(3) {
  left: 50px;
  animation-delay: -1.8s;
  animation-duration: 2.5s;
}

.matrix-column:nth-child(4) {
  left: 75px;
  animation-delay: -2.9s;
  animation-duration: 3.5s;
}

.matrix-column:nth-child(5) {
  left: 100px;
  animation-delay: -1.5s;
  animation-duration: 3s;
}

.matrix-column:nth-child(6) {
  left: 125px;
  animation-delay: -3.8s;
  animation-duration: 4.5s;
}

.matrix-column:nth-child(7) {
  left: 150px;
  animation-delay: -2.1s;
  animation-duration: 2.8s;
}

.matrix-column:nth-child(8) {
  left: 175px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}

.matrix-column:nth-child(9) {
  left: 200px;
  animation-delay: -3.4s;
  animation-duration: 3.8s;
}

.matrix-column:nth-child(10) {
  left: 225px;
  animation-delay: -1.9s;
  animation-duration: 2.7s;
}

.matrix-column:nth-child(11) {
  left: 250px;
  animation-delay: -3.6s;
  animation-duration: 4.2s;
}

.matrix-column:nth-child(12) {
  left: 275px;
  animation-delay: -2.3s;
  animation-duration: 3.1s;
}

.matrix-column:nth-child(13) {
  left: 300px;
  animation-delay: -3.1s;
  animation-duration: 3.6s;
}

.matrix-column:nth-child(14) {
  left: 325px;
  animation-delay: -2.6s;
  animation-duration: 2.9s;
}

.matrix-column:nth-child(15) {
  left: 350px;
  animation-delay: -3.7s;
  animation-duration: 4.1s;
}

.matrix-column:nth-child(16) {
  left: 375px;
  animation-delay: -2.8s;
  animation-duration: 3.3s;
}

.matrix-column:nth-child(17) {
  left: 400px;
  animation-delay: -3.3s;
  animation-duration: 3.7s;
}

.matrix-column:nth-child(18) {
  left: 425px;
  animation-delay: -2.2s;
  animation-duration: 2.6s;
}

.matrix-column:nth-child(19) {
  left: 450px;
  animation-delay: -3.9s;
  animation-duration: 4.3s;
}

.matrix-column:nth-child(20) {
  left: 475px;
  animation-delay: -2.4s;
  animation-duration: 3.4s;
}

.matrix-column:nth-child(21) {
  left: 500px;
  animation-delay: -1.7s;
  animation-duration: 2.4s;
}

.matrix-column:nth-child(22) {
  left: 525px;
  animation-delay: -3.5s;
  animation-duration: 3.9s;
}

.matrix-column:nth-child(23) {
  left: 550px;
  animation-delay: -2s;
  animation-duration: 3s;
}

.matrix-column:nth-child(24) {
  left: 575px;
  animation-delay: -4s;
  animation-duration: 4.4s;
}

.matrix-column:nth-child(25) {
  left: 600px;
  animation-delay: -1.6s;
  animation-duration: 2.3s;
}

.matrix-column:nth-child(26) {
  left: 625px;
  animation-delay: -3s;
  animation-duration: 3.5s;
}

.matrix-column:nth-child(27) {
  left: 650px;
  animation-delay: -3.8s;
  animation-duration: 4s;
}

.matrix-column:nth-child(28) {
  left: 675px;
  animation-delay: -2.5s;
  animation-duration: 2.8s;
}

.matrix-column:nth-child(29) {
  left: 700px;
  animation-delay: -3.2s;
  animation-duration: 3.6s;
}

.matrix-column:nth-child(30) {
  left: 725px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}

.matrix-column:nth-child(31) {
  left: 750px;
  animation-delay: -1.8s;
  animation-duration: 2.7s;
}

.matrix-column:nth-child(32) {
  left: 775px;
  animation-delay: -3.6s;
  animation-duration: 4.1s;
}

.matrix-column:nth-child(33) {
  left: 800px;
  animation-delay: -2.1s;
  animation-duration: 3.1s;
}

.matrix-column:nth-child(34) {
  left: 825px;
  animation-delay: -3.4s;
  animation-duration: 3.7s;
}

.matrix-column:nth-child(35) {
  left: 850px;
  animation-delay: -2.8s;
  animation-duration: 2.9s;
}

.matrix-column:nth-child(36) {
  left: 875px;
  animation-delay: -3.7s;
  animation-duration: 4.2s;
}

.matrix-column:nth-child(37) {
  left: 900px;
  animation-delay: -2.3s;
  animation-duration: 3.3s;
}

.matrix-column:nth-child(38) {
  left: 925px;
  animation-delay: -1.9s;
  animation-duration: 2.5s;
}

.matrix-column:nth-child(39) {
  left: 950px;
  animation-delay: -3.5s;
  animation-duration: 3.8s;
}

.matrix-column:nth-child(40) {
  left: 975px;
  animation-delay: -2.6s;
  animation-duration: 3.4s;
}

.matrix-column:nth-child(odd)::before {
  content: "アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲン123456789";
}

.matrix-column:nth-child(even)::before {
  content: "ガギグゲゴザジズゼゾダヂヅデドバビブベボパピプペポヴァィゥェォャュョッABCDEFGHIJKLMNOPQRSTUVWXYZ";
}

.matrix-column:nth-child(3n)::before {
  content: "アカサタナハマヤラワイキシチニヒミリウクスツヌフムユルエケセテネヘメレオコソトノホモヨロヲン0987654321";
}

.matrix-column:nth-child(4n)::before {
  content: "ンヲロヨモホノトソコオレメヘネテセケエルユムフヌツスクウリミヒニチシキイワラヤマハナタサカア";
}

.matrix-column:nth-child(5n)::before {
  content: "ガザダバパギジヂビピグズヅブプゲゼデベペゴゾドボポヴァィゥェォャュョッ!@#$%^&*()_+-=[]{}|;:,.<>?";
}

@keyframes fall {
  0% {
    transform: translateY(-10%);
    opacity: 1;
  }

  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .matrix-column {
    font-size: 14px;
    line-height: 16px;
    width: 18px;
  }
}

@media (max-width: 480px) {
  .matrix-column {
    font-size: 12px;
    line-height: 14px;
    width: 15px;
  }
}

@keyframes rainbowShift {
  0% {
    color: linear-gradient(0deg, red, orange, yellow);
  }
  50% {
    color: linear-gradient(0deg, green, blue, indigo);
  }
  100% {
    color: linear-gradient(0deg, violet, red, orange);
  }
}

.matrix-column::before {
  animation: rainbowShift 5s infinite;
}

.mid {
  margin: 0 auto;
  text-align: center;
  margin-top: -6rem;
  z-index: 1;
}

.logo {
  width: 13rem;
  height: 8rem;
  border-radius: 1rem;
  border: 0.4rem solid #fff;
}

.name {
  font-size: 2.2rem;
  font-weight: 700;
}

.title {
  font-size: 1.6rem;
}

.bottom {
  display: flex;
  margin-top: 3rem;
  border-top: 0.1rem solid #c4c4c4;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  padding: 1.8rem 1.5rem;
  text-align: center;
}

.column:nth-child(1) {
  border-right: 0.1rem solid #c4c4c4;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.linked {
  transition: 0.3s;
}

.linked:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
  fill: #007ebb;
}

.github {
  transition: 0.3s;
}

.github:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
  fill: #000;
}

.username {
  font-size: 1.2rem;
}

.lights-control {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: #fff;
  padding: 0.6rem 0.8rem;
  border-radius: 2rem;
  gap: 1rem;
  bottom: 6rem;
  font-weight: 700;
}

.lights-label {
  width: 4.2rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  padding: 0.3rem 0.4rem;
  background-color: rgba(69, 206, 252, 1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.lights-label::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s;
}

.lights-input:checked + .lights-label {
  background-color: rgba(154, 87, 199, 0.904);
}

.lights-input:checked + .lights-label::after {
  transform: translateX(1.8rem);
}
